/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background: #eee;
}
.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 100%;
}
.container {
  padding-top: 90px;
  padding-bottom: 20px;
}
.list-item {
  background: #fff;
  padding: 20px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.07);
  .item-title {
    border-bottom: 2px dashed #ddd;
    padding-bottom: 15px;
    text-align: center;
    color: #777;
    margin-bottom: 20px;
    background: #f9f9f9;
    padding-top: 15px;
  }
}
.post-list-item {
  @extend .list-item;
}

.input-invalid {
  color: #f00;
  font-weight: bold;
  border-left: 2px solid #f00;
  padding-left: 10px;
  margin-top: -10px;
  margin-bottom: 30px;
  display: block;
  font-size: 12px;
  background: #ffefef;
}

.hashtag {
  color: rgb(0, 81, 255);
  text-decoration: underline;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 60px;
  padding: 10px;
}

.fr-box.fr-basic.fr-top .fr-wrapper,
.fr-toolbar.fr-top {
  box-shadow: 0 1px 5px #eee;
  border-color: #673ab7;
}
